{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <p><strong>Nombre: </strong>{{ object.nombre }} </p>
        <p><strong>Objetivo General: </strong>{{ object.objetivo_general }} </p>
        <p><strong>Competencia: </strong>{{ object.competencia }} </p>
        <p><strong>Temario: </strong>{{ object.temario }} </p>
        <p><strong>Autorizada: </strong>{{ object.autorizada }} </p>
        <p><strong>Usuario: </strong>{{ object.usuario }} </p>
        <p><strong>Periodo: </strong>{{ object.periodo }} </p>
        <p><strong>Instructor: </strong>{{ object.instructor }} </p>
        <p><strong>Grupo: </strong>{{ object.grupo }} </p>
        <p><strong>Area: </strong>{{ object.area }} </p>

        <a class= "btn" href="{% url 'actividades:actividad_listar' %}">Ok</a>
        <a class= "btn blue" href="{% url 'actividades:actividad_editar' object.nombre%}"><i class="material-icons">create</i></a>
        <a class="btn red" href="{% url 'actividades:actividad_eliminar' object.nombre %}"><i class="material-icons">delete</i></a>
    </div>
</div>


{% endblock %}