{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <p><strong>Nombre usuario: </strong>{{ object.usuario }} </p>
        <p><strong>Rol: </strong>{{ object.rol }} </p>
        <p><strong>Carrera: </strong>{{ object.carrera }} </p>

        <a class= "btn" href="{% url 'coordinadores:coordinar_listar' %}">Ok</a>
        <a class= "btn blue" href="{% url 'coordinadores:coordina_editar' object.usuario.clave%}"><i class="material-icons">create</i></a>
        <a class="btn red" href="{% url 'coordinadores:coordina_eliminar' object.usuario.clave %}"><i class="material-icons">delete</i></a>
    </div>
</div>


{% endblock %}