{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
    <h4>filtrar por </h4>
    <form method="get">
        <p>
            id municipio: {{ filter.form.id_municipio }}
            nombre municipio: {{ filter.form.nombre_municipio }} &nbsp;&nbsp;
            <button class = "btn blue" type="submit">Filtrar</button>
        </p>
    </form>
        <table class="striped">
            <thead>
            <tr>
                <td>id municipio</td>
                <td>nombre municipio</td>
                <td>Estado</td>
            </tr>
            </thead>
            <tbody>
            {% if filter.qs %}
                {% for municipios in filter.qs %}
                    <tr>
                        <td>{{ municipios.id_municipio }}</td>
                        <td>{{ municipios.nombre_municipio }}</td>
                        <td>{{ municipios.estado }}</td>
                        <td>
                            <a class="btn brown" href="{% url 'municipios:muni_mostrar' municipios.id_municipio %}"><i class="material-icons">zoom_in</i></a>
                            <a class="btn blue" href="{% url 'municipios:muni_editar' municipios.id_municipio %}"><i class="material-icons">create</i></a>
                            <a class="btn red" href="{% url 'municipios:muni_eliminar' municipios.id_municipio %}"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No hay registros de municipio</h1>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}