{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <h4>Filtrar por:</h4>
        <form method="get">
            <p>
                Id puesto : &nbsp{{ filter.form.id_puesto }} &nbsp
                Nivel : &nbsp {{ filter.form.nivel }}

                <button class="btn blue" type="submit">Filtrar</button>
            </p>
        </form>
        <table class="striped">
	        <thead>
		        <tr>
                    <td>id puestol</td>
                     <td>descripcion</td>
			        <td>nivel</td>
			        <td>tipo</td>
                    <td>funciones</td>


                </tr>
            </thead>
            <tbody>
            {% if filter.qs %}
                {% for puesto in filter.qs %}
		        <tr>
			        <td>{{ puesto.id_puesto }}</td>
			        <td>{{ puesto.descripcion }}</td>
			        <td>{{ puesto.nivel}}</td>
			        <td>{{ puesto.tipo }}</td>
			        <td>{{ puesto.funciones }}</td>


			        <td>
				        <a class="btn" href="{% url 'puestos:puesto_mostrar' puesto.id_puesto %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'puestos:puesto_editar' puesto.id_puesto %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'puestos:puesto_eliminar' puesto.id_puesto %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros de puesto</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}