{% extends 'base/base.html' %}

{% block content %}

    <div class="row">
    <div class="col s12 m12 l12">
        <table class="striped">
	        <thead>
		        <tr>
			        <td>clave</td>
                    <td>nombre</td>
			        <td>apellido Paterno</td>
                    <td>apellido Materno</td>
                    <td>password</td>
                    <td>estatus</td>
                    <td>Rol</td>
                    <td>organigrama</td>
                </tr>
            </thead>
            <tbody>
		        {% if object_list %}
		        {% for usuario in object_list %}
		        <tr>
			        <td>{{ usuario.clave }}</td>
                    <td>{{ usuario.nombre }}</td>
			        <td>{{ usuario.apellido_paterno }}</td>
			        <td>{{ usuario.apellido_materno }}</td>
			        <td>{{ usuario.password }}</td>
                    <td>{{ usuario.estatus }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>{{ usuario.organigrama }}</td>

			        <td>
                        <a class="btn red" href="{% url 'usuario:usuario_mostrar' usuario.clave %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn yellow" href="{% url 'usuario:usuario_editar' usuario.clave %}"><i class="material-icons">create</i></a>
                        <a class="btn blue" href="{% url 'usuario:usuario_eliminar' usuario.clave %}"><i class="material-icons">delete</i></a>

			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registro de usuarios</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn orange"  href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn blue" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}