{% extends 'base/base.html' %}
 {% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <h4>Filtrar por:</h4>
        <form method="get">
            <p>
                clave: &nbsp{{ filter.form.clave }} &nbsp
                Nombres: &nbsp {{ filter.form.nombre }} &nbsp
                estatus: &nbsp{{ filter.form.estatus }} &nbsp;&nbsp;
                <button class="btn blue" type="submit">Filtrar</button>
            </p>
        </form>
        <table class="striped">
	        <thead>
		        <tr>
			        <td>clave</td>
			        <td>id_rol</td>
                    <td>nombre</td>
			        <td>apellido Paterno</td>
                    <td>apellido Materno</td>
			        <td>organigrama</td>
                    <td>password</td>
                    <td>estatus</td>
                </tr>
            </thead>
            <tbody>
            {% if filter.qs %}
                {% for usuario in filter.qs %}
		        <tr>
			        <td>{{ usuario.clave }}</td>
			        <td>{{ usuario.id_rol }}</td>
			        <td>{{ usuario.apellido_paterno }}</td>
			        <td>{{ usuario.apellido_materno }}</td>
			        <td>{{ usuario.organigrama }}</td>
			        <td>{{ usuario.password }}</td>
                    <td>{{ usuario.estatus }}</td>
			        <td>
				        <a class="btn" href="{% url 'usuario:usuario_mostrar' usuario.clave %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'usuario:usuario_editar' usuario.apellido_paterno %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'usuario:usuario_eliminar' usuario.apellido_materno %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}
                 {% else %}
		            <h1>No hay registros de usuarios</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>
 {% endblock%}